* {
    text-decoration: none
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #5e2e2e;
    color: #fff;
    padding: 20px 0;
    display: flex;
    flex-direction: column; /* Alinha os itens de forma vertical */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    text-align: center; /* Garante que o texto no h1 também fique centralizado */
}

.logo img {
    width: 100px;
    margin-bottom: 20px; /* Adiciona um espaçamento abaixo da logo */
}

h1 {
    margin: 0; /* Remove a margem padrão do h1 */
    font-size: 2rem; /* Ajuste do tamanho da fonte para que o título fique legível */
}


main {
    padding: 20px;
}

.grades {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 100px;
    max-width: 1200px;
    margin: 0 auto;
}

.grade {
    display: block; /* Faz o link se comportar como um bloco */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none; /* Remove o sublinhado do link */
    color: inherit; /* Mantém a cor do texto padrão */
    transition: transform 0.3s, box-shadow 0.3s;
}

.grade:hover {
    transform: translateY(-5px); /* Efeito de levantar ao passar o mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.grade img {
    width: 100px; /* Tamanho da imagem da manete */
    margin: 15px 0;
}

.grade h2 {
    margin-top: 0;
    color: #5e2e2e;
    font-size: 1.5rem;
}

.grade ul {
    list-style-type: none;
    padding: 0;
}

.grade ul li {
    margin: 10px 0;
}

.grade ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.grade ul li a:hover {
    color: #5e2e2e;
}